{%extends 'base.html'%} 
{% block content %}
<div>
  <main>
    <div class="container mt-5">
      <div class="row" style="position: relative">
        <!-- Empty div -->
        <div class="empty col-md-1"></div>
        <div class="margs timeline gallery col-md-7">
          {% for image in images %}
          <div class="size card mb-5">
            <div class="profile_user mb-3">
              <a
                href="/profile/{{image.user.username}}"
                style="text-decoration: none"
              >
                <img
                  class="rounded-circle"
                  style="width: 3em; height: 3em"
                  src="{{image.user.profile.profile_photo.url}}"
                  alt="{{image.user.username}}"
                />
                <span class="prof"><strong>{{image.user}}</strong></span>
              </a>
            </div>
            <div class="" tabindex="0">
              <a href="/post/{{image.id}}"
                ><img src="{{image.image.url}}" class="gallery-image" alt=""
              /></a>

              <div class="post-details">
                <div class="row interactions">
                  <div class="col-1 one">
                    <form action="{% url 'like' image.id%}">
                      {% csrf_token %}
                      <button
                        type="submit"
                        name="image_id"
                        value="{{image.id}}"
                        style="
                          border: 0px;
                          background-color: transparent;
                          margin-bottom: 1rem;
                        "
                      >
                        <i class="far fa-heart" style="font-size: 15px;">
                        
                        {{image.likes.count}}
          
                        </i>
                      </button>
                    </form>
                  </div>
                  
                </div>
                <div class="caption">
                  <p>{{image.caption}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="empty col-md-1"></div>
      </div>
    </div>
  </main>
</div>
{% endblock %}