<nav class="navbar">
  <section class="logo-section">
  <a href="{% url 'home'%}">
    <img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" />
  </a>
      <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" />
  </section>
  <form class="search-section">
    <input class="input-search" type="search" name="search" placeholder="Search" />
  </form>
  <section class="icons-section">
    {% if request.user.is_authenticated %}
    <a class="far fa-compass" href="{% url 'home'%}"></a>
    <a class="fas fa-plus" href="{% url 'create_post' %}"></a>
    <a class="fas fa-male" href="{% url 'user_page' request.user.id %}"></a>
    <a class="fas fa-sign-out-alt" href="{% url 'logout'%}"></a>

    {% else %}
    <a class="far fa-user" href="{% url 'login' %}"></a>
    {% endif %}
  </section>
</nav>