<nav class="navbar">
  <section class="logo-section"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" />
      <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" />
  </section>
  <form class="search-section">
    <input class="input-search" type="search" name="search" placeholder="Search" />
  </form>
  <section class="icons-section">
    {% if request.user.is_authenticated %}
    <a class="far fa-compass" href="#"></a>
    <a class="far fa-heart" href="#"></a>
    {% else %}
    <a class="far fa-user" href="#"></a>
    {% endif %}
  </section>
</nav>